#gameScreen {
    width: 50%;
    z-index: 1;
}

#screenContainer {
    position: relative;
}

#lightOverlay {
    position: absolute;
    z-index: 2;
    width: 50%;
    left: 0;
}

.light {
    position: absolute;
    z-index: 3;
    width: 50%;
    left: 0;
}

#completeOverlay {
    position: absolute;
    z-index: 4;
    width: 50%;
    left: 0
}

.hidden {
    display: none;
}