.hidden {
    display: none;
}

#screenContainer {
    position: relative;
}

.gameScreen {
    width: 90%;
    z-index: 1;
}

#gameScreen {
    width: 90%;
    z-index: 1;
}

.overlay {
    position: absolute;
    z-index: 2;
    width: 90%;
    left: 0;
}

#overlay2 {
    position: absolute;
    z-index: 2;
    width: 90%;
    left: 0;
}

#overlay {
    position: absolute;
    z-index: 2;
    width: 90%;
    left: 0;
}

.showCurrentButton {
    width: 100%;
    display: flex;
}

button {
    width: 10%;
    height: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.backButton {
    width: 10%;
    height: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

